body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*//  botui.message.add({
  content: '![](https://profilepics.cf.kik.com/akW94fjo2qK3LH048g7e0QJN97c/orig.jpg)'
})*/